{% extends layout/plantilla.html %}

{% block titulo %}{{ $titulo }}{% endblock %}

{% block contenido %}


<div class="row justify-content-md-center">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<label> Datos necesarios</label>
			</div>
			<div class="card-body" id="box-reg-cond" style="position: relative;">
				<div class="row">

					<div class="col-6"> 
						<label>Abreviatura:</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-address-card"></i>
								</span>
							</div>
							<input type="text" class="form-control" id="inpAbreviatura"> 
							<input type="hidden" class="form-control"  value="0" id="inpIdTpDocumento"> 
						</div>
					</div> 

					<div class="col-6"> 
						<label>Longitud:</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-address-card"></i>
								</span>
							</div>
							<input type="number" class="form-control" id="inpLongitud">   
						</div>
					</div> 

					<div class="col-12"> 
						<label>Estado:</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-address-card"></i>
								</span>
							</div>
							<select class="form-control" id="slcEstado">
								<option value="1">Activo</option>
								<option value="0">Inactivo</option>
							</select>
						</div>
					</div>  

					<div class="col-12">
						<label>Descripcion:</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-address-card"></i>
								</span>
							</div>
							<textarea class="form-control" rows="2" id="txtDescripcion"></textarea>
						</div>
					</div> 

				</div>
			</div>
		</div>
	</div> 
	<div class="col-12"></div>
	<div class="col-6 mb-3">
		<button class="btn btn-success" id="btnRegistrar">REGISTRAR</button>
		<button class="btn btn-primary" id="btnLimpiar">LIMPIAR</button>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<label> Lista de tipo de documento</label>
			</div>
			<div class="card-body" id="box-reg-cond" style="position: relative;">
				 <div id="jsgBanco"></div> 
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block javascript %}

<script type="text/javascript">
 
$("#btnLimpiar").click(function() {
	mtd_LimpiarTipoDocumento()
})
 
$('#inpAbreviatura').keyup(function(){
    this.value = this.value.toUpperCase();
});
 
 $("#btnRegistrar").click(function(){
 	let { state, msg } = fn_Validaciones()
	if(state){
		Swal.fire({
		  title: 'Complete la siguiente informacion!',
		  html: `<div style='text-align: left;'>${msg}</div>`,
		  icon: 'error',
		  confirmButtonText: 'Aceptar'
		})
		return
	} 
 	mtd_CrearObjeto()
 })

const fn_Validaciones = () =>{
	let blnL_Validar = false;
	let strL_msg = ""; 
	// VALIDACIONES DATOS PERSONALES 
	if($('#inpLongitud').val().trim()==''  || !$('#inpLongitud').val()){
 	    strL_msg += 'Ingrese una longitud<br>'
	    blnL_Validar = true;
	}
	if($('#inpAbreviatura').val().trim()==''  || !$('#inpAbreviatura').val()){
 	    strL_msg += 'Ingrese una abreviatura<br>'
	    blnL_Validar = true;
	}
	if($('#slcEstado').val().trim() ==''  || !$('#slcEstado').val()){
 	    strL_msg += 'Seleccione un estado<br>'
	    blnL_Validar = true;
	} 
	return {state:blnL_Validar,msg:strL_msg}
}

	const mtd_LimpiarTipoDocumento = () =>{
		$("#inpIdTpDocumento").val("") 
	 	$("#inpLongitud").val("")
	 	$("#slcEstado").val(1)
	 	$("#inpAbreviatura").val("") 
	 	$("#txtDescripcion").val("")
	 	$("#btnRegistrar").text("REGISTRAR")
	}

 const mtd_CrearObjeto = () =>{
 	let tipoDocumento = {}
 	tipoDocumento.id_tpdocumento    = $("#inpIdTpDocumento").val() == 0 ? $("#inpAbreviatura").val().trim().replace(/[&\/\\#,+()$~%.'":*?<>{}]/g,'_').replace(/\s/g, '') : $("#inpIdTpDocumento").val();
 	tipoDocumento.tpd_longitud 		= $("#inpLongitud").val() 
 	tipoDocumento.tpd_abreviatura	= $("#inpAbreviatura").val()
 	tipoDocumento.tpd_descripcion	= $("#txtDescripcion").val() 
 	tipoDocumento.tpd_estado		= $("#slcEstado").val()
 	console.log(tipoDocumento)
 	mtd_MergeTipoDocumento(tipoDocumento)
 }


 const mtd_MergeTipoDocumento = (datos) =>{
    fetch(`{{ Config::getUrl() }}{{ Config::URL_API }}tipo_documento`,{
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(datos)
    })
    .then((data) =>{
            if (data.ok) {
                return data.json();
            } else {
                return data.json().then(err => {throw err;});
            }
    })
    .then((data) => {
	    Swal.fire(
			'Mensaje del sistema!',
			data.msg,
			'success'
		) 
		mtd_LimpiarTipoDocumento()
		$(".jsgrid-search-button").click(); 
    })
    .catch(function(error) { 
    	Swal.fire(
			'Mensaje del sistema!',
			error.msg,
			'error'
		)
       	console.log(error)  
    });
}

$("#jsgBanco").jsGrid({ 
	  width: "100%",
	  height: "auto",  
      filtering: true, 
      sorting: true,
      paging: true,
      autoload: true,
      pageSize: 10,
      pageButtonCount: 5,
      pagerFormat: "Pagina: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",
	  pagePrevText: "Anterior",
	  pageNextText: "Siguiente",
	  pageFirstText: "Primero",
	  pageLastText: "Ultima",
	  pageNavigatorNextText: "...",
      pageNavigatorPrevText: "...",
      loadMessage: "Cargando, espero por favor...",
	  controller: {
	    loadData: function(filter) {
	      return $.ajax({
	        url: `{{ Config::getUrl() }}/adm/api/tipo_documento`,
	        dataType: "json"
	      }).then(function(requests) {
		        return $.grep(requests, function(request) {
		            return (!filter.tpd_estado || request.tpd_estado === filter.tpd_estado)
		            && (!filter.tpd_descripcion || request.tpd_descripcion.indexOf(filter.tpd_descripcion) > -1)
		        });
		   });
	    }
	  },
		rowClass: function(item, itemIndex) { 
		  	let estado = parseInt(item.tpd_estado);
	    return estado==0 ? 'table-danger' : 'table-success';
	  },
	  fields: [
	  	{name: 'tpd_descripcion', type: "text",title: "Descripcion"},
        {name: 'tpd_abreviatura', type: "text",title: "Abreviatura"},
        {name: 'tpd_longitud',type: "text", title: "Logintud"},
        {name: 'estado', type: "text",title: "Estado"},
        {type: "control", editButton: false, deleteButton: false,
            itemTemplate: function(value, item) {
			    var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);
			    var $customEditButton = $("<button>").attr({
			            class: "customGridEditbutton jsgrid-button jsgrid-edit-button"
			        })
			        .click(function(e) { 
			            $("#inpIdTpDocumento").val(item.id_tpdocumento) 
					 	$("#inpLongitud").val(item.tpd_longitud)
					 	$("#slcEstado").val(item.tpd_estado) 
					 	$("#txtDescripcion").val(item.tpd_descripcion) 
					 	$("#inpAbreviatura").val(item.tpd_abreviatura)  
					 	$("#btnRegistrar").text("ACTUALIZAR")
			            e.stopPropagation();
			        }); 
			    return $("<div>").append($customEditButton);
			},
        }
	  ]
}); 

$(".jsgrid-search-mode-button").click()


</script>

{% endblock %}