{% extends layout/plantilla.html %}

{% block titulo %}{{ $titulo }}{% endblock %}

{% block contenido %}

<div class="row justify-content-md-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <label> Opciones de busqueda</label>
            </div>
            <div class="card-body" style="position: relative;">
                <div class="row">
                    <!-- POR SEDES --->
                    <div class="col-4" >
                        <label>Sedes</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                            <select class="form-control" id="slcSede"> </select>
                        </div>
                    </div>
                    <!-- POR SEDES --->

                    <!-- POR SEDES --->
                    <div class="col-4">
                        <label>Permiso</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                            <select class="form-control" id="slcPermisos">
                            </select>
                        </div>
                    </div>
                    <!-- POR SEDES --->

                    <!-- POR SEDES --->
                    <div class="col-4" >
                        <label>Tipo de permiso</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                            <select class="form-control" id="slcTipoPermiso">
                                <option value="3">Todos</option>
                                <option value="1">Pagados</option>
                                <option value="0">No pagados</option>
                            </select>
                        </div>
                    </div>
                    <!-- POR SEDES --->

                    <div class="col-4">
                        <label>Fecha Inicio:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                            <input type="date" class="form-control" id="inpFechaInicio">
                        </div>
                    </div>

                    <div class="col-4">
                        <label>Fecha Fin:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-file-signature"></i>
                                </span>
                            </div>
                            <input type="date" class="form-control" id="inpFechaFin">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12"></div>
    <div class="col-8 mb-3">
        <button class="btn btn-success" id="btnBuscar">GENERAR</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <!---<button id="btnExportar">EXPORTAR</button>-->
       <div class="card">
	       <div class="card-body">
	       	<table class="table table-striped" id="tbTareo">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">NOMBRES</th>
				      <th scope="col">SEDE</th>
				      <th scope="col">ESTADO</th>
				      <th scope="col">FECHA REG</th>
				      <th scope="col">PERMISO</th>
				      <th scope="col">TIPO DE PERMISO</th>  
				    </tr>
				  </thead>
				  <tbody>
				    
				  </tbody>
			</table>
	       </div>
	   </div>

    </div>
</div>
 
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  
$("#btnBuscar").click(function(){
    mtd_GenerarObjeto()
})
 
const mtd_GenerarObjeto = () =>{ 
    let data = new FormData();
	data.append('id_sede', $("#slcSede").val());
    data.append('id_permiso', $("#slcPermisos").val());
    data.append('pagado', $("#slcTipoPermiso").val());
	data.append('inicio', $("#inpFechaInicio").val());
	data.append('fin', $("#inpFechaFin").val() );
    console.log(JSON.stringify(Object.fromEntries(data)))
    mtd_BuscarTareo(data) 
} 

$(document).ready(function () {

  $("#inpFechaInicio").val(new Date(new Date().getFullYear(), new Date().getMonth(), 1).toISOString().slice(0, 10));
  $("#inpFechaFin").val(new Date().toISOString().slice(0, 10));

  $('#tbTareo').DataTable({
    "bSort": false,
    dom: 'Bfrtip',
	buttons: [
		'excelHtml5' 
	],
	'autoWidth': false,
    'lengthChange': false, 
    'pageLength': 10,
    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
    },
	destroy: true,
    ajax: {
        url: `{{ Config::getUrl() }}/adm/administrador/permisos`,
        'method':'POST',
		'dataType': 'json', 
		'data':{
		    id_sede: 7, 
            id_permiso : 0,
            pagado: 3,
		    inicio:"2021-01-01",
		    fin: new Date().toISOString().slice(0, 10)
		},
	    dataSrc:""
    },
    createdRow: function(row, data, dataIndex) {
    	if(parseInt(data.ta_estado) == 3){
    		$(row).addClass('red');
    	}
    },
    columns: [  
            {"data": "codigo"},
            { "data": "datos" },
            { "data": "sede_datos" },
            { "data": "estado" },
            { "data": "fecha_ingreso" },
            { "data": "permiso" },
            { "data": "tipo_permiso" } 
    ] 
  });
  //table.buttons().container().appendTo('#tbTareo_wrapper .col-md-6:eq(0)');
});

$('#tbTareo').on('click', '#btnCambiarEstado', function() {
	let dataTareo = $(this).data('row')
  	//console.log($(this).data('row'));
	$("#modalImpresion").modal('show')
	$("#inpDatos").val(dataTareo.datos) 
	$("#inpFechaIng").val(dataTareo.fecha_ingreso)
	$("#inpHoraIng").val(dataTareo.hora_ingreso)
	$('#slcEstadoTareo').val(dataTareo.ta_estado)
	$('#inpIdTareo').val(dataTareo.id_tareo) 
});

$("#btnMdCerrar").click(function(){
	let tareo = {}
	tareo.id_tareo = $("#inpIdTareo").val() 
	tareo.ta_estado = $("#slcEstadoTareo").find(":selected").val()
	console.log(tareo)
	//$('#tbTareo').DataTable().ajax.reload(); 
	mtd_ModificarTareo(tareo)
})

$("#btnMdEliminar").click(function(){
    if (confirm("Eliminar tareo ?")) {
        let tareo = {}
        tareo.id_tareo = $("#inpIdTareo").val() 
        mtd_EliminarTareo(tareo)
    } 
}) 

const mtd_EliminarTareo = (tareo) =>{
    fetch(`{{ Config::getUrl() }}/adm/tareo/eliminar`,{
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(tareo)
    })  
    .then((data) =>{
        if (data.ok) {
            return data.json();
        } else {
            return data.json().then(err => {throw err;});
        }
    })
    .then((data) => { 
        Swal.fire(
            'Mensaje del sistema!',
            data.msg,
            'success'
        )  
        $('#btnBuscar').click()
        $("#modalImpresion").modal('hide')
        //$('#tbTareo').DataTable().ajax.reload();
    })
    .catch(function(error) { 
        console.log(error)
        alert("Error!")
    });
}

const mtd_BuscarTareo = (datos) =>{
    fetch(`{{ Config::getUrl() }}/adm/administrador/permisos`,{
            method: 'POST', 
            body: datos
    })
    .then((data) =>{
            if (data.ok) {
                return data.json();
            } else {
                return data.json().then(err => {throw err;});
            }
    })
    .then((data) => {  
            console.log(data)
    	  $('#tbTareo').DataTable().clear().rows.add(data).draw();
    })
    .catch(function(error) { 
        console.log(error)  
    });
}

const mtd_ListarSede = () =>{ 
    fetch(`{{ Config::getUrl() }}/adm/api/sede`)
    .then((data) =>{
            if (data.ok) {
               return data.json();
            } else {
               return data.json().then(err => {throw err;});
            }
    })
    .then((data) => { 
        data.forEach((e)=>{
            $(`#slcSede`).append(new Option(e.datos, e.id_sede)); 
        }) 
    })
    .catch(function(error) {
        console.log(error) 
    });
}

const mtd_ListarPermiso = () =>{ 
    fetch(`{{ Config::getUrl() }}/adm/permisos/sistema`)
    .then((data) =>{
            if (data.ok) {
               return data.json();
            } else {
               return data.json().then(err => {throw err;});
            }
    })
    .then((data) => { 
        $(`#slcPermisos`).append(new Option("Todos", 0));
        data.forEach((e)=>{
            $(`#slcPermisos`).append(new Option(e.pe_nombre, e.id_permiso)); 
        }) 
    })
    .catch(function(error) {
        console.log(error) 
    });
}

mtd_ListarPermiso()
mtd_ListarSede()

</script>
{% endblock %}