{% extends layout/plantilla.html %}

{% block titulo %}{{ $titulo }}{% endblock %}

{% block css %}404.css{% endblock %}

{% block contenido %}

<div class="stars">
	<div class="central-body">
		<img class="image-404" src="{{ Config::getAsset(); }}local/errors/svg/404.svg" width="300px">
		<a href="{{ Config::getUrl(); }}" class="btn-go-home">
			REGRESAR
		</a>
	</div>
	<div class="objects">
		<img class="object_rocket" src="{{ Config::getAsset(); }}local/errors/svg/rocket.svg" width="40px">
		<div class="earth-moon">
			<img class="object_earth" src="{{ Config::getAsset(); }}local/errors/svg/earth.svg" width="100px">
			<img class="object_moon" src="{{ Config::getAsset(); }}local/errors/svg/moon.svg" width="80px">
		</div>
		<div class="box_astronaut">
			<img class="object_astronaut" src="{{ Config::getAsset(); }}local/errors/svg/astronaut.svg" width="140px">
		</div>
	</div>
	<div class="glowing_stars">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">


</script>
{% endblock %}